<!--  Include headers here -->
<%- include('partials/head') %>

  <h1>Ceci est une page d'admin</h1>

  <p>Très pratique pour administrer des choses diverses et variées.</p>



  <!--  Include footers here -->

  <%- include('partials/footer') %>